<p id="notice"><%= notice %></p>

<h2 class="title"><%= @topic.name %></h2>
<p class="meta"><%= @topic.description %></p>	

<% if @topic.ideas.any? %>

	<% @topic.ideas.each do |idea| %>      
		<p><h3><%= link_to idea.name, idea %></h3></p>				
	<% end %>
<% end %>


